:root {
    --primary-teal: #00a99d;
    --dark-teal: #00776e;
    --light-teal: #66e2d6;
    --golden-yellow: #f2a900;
    --soft-coral: #ff6f61;
    --charcoal: #2f2f2f;
    --light-gray: #f4f4f4;
    --white: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body{
    font-family: "Roboto", "sans-serif";
    font-size: 16px !important;
    background-color: var(--light-gray) !important;
}
#root{
    /* zoom: 90% */
}

a{
    text-decoration: none !important;
    color: inherit !important
}
ul li{
    list-style: none !important;
}

ul, .col{
    padding: 0px !important;
    margin: 0px !important
}

.isLoading-icon{
    color: var(--white) !important
}

hr {

    border-top: 1px solid #d5d9d9 !important;
    display: block !important;
    height: 1px !important;
}

h1, h2, h4, h2, h5, h6{
    margin: 0px !important
}
.container-fluid{
    padding: 0px 30px !important;
    width: 100%;
}

.row{
    margin: 0px !important;
    padding: 0px !important 
}

.transition{
    transition: all 0.3s ease-in-out;
}
.cursor{
    cursor: pointer
}
.btn-border{
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 7px 25px !important;
    border-radius: 5px !important;
    color: var(--charcoal) !important;
    text-transform: capitalize !important;

}
.btn-border svg{
 opacity: 0.5
}
.btn-border:hover svg{
    opacity: 1 !important;
    color: var(--dark-teal)
}
.btn-border:hover{
    border: 1px solid var(--dark-teal) !important;
    color: var(--charcoal) !important
}
.btn-g{
    background: var(--primary-teal) !important;
    padding: 3px 20px !important;
    border-radius: 5px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    border:none
}

.btn-g a{
    color: #fff
}

.btn-g:hover{
    background: var(--dark-teal) !important;
}

.btn-g a{
     
}
.btn-lg{
    font-size: 22px !important;
}

.bg,  .bg-success{
    background: var(--primary-teal) !important;
}

.btn-large{
    padding: 8px 25px !important
}

.btn-big {
    padding: 10px 25px !important;
    font-size: 16px !important;
    background: var(--primary-teal) !important;
    color: white !important
}

.btn-big svg{
    font-size: 25px !important;
    margin-right: 7px
}

.btn-round{
    border-radius: 30px !important;
}

.text-g{
    color: var(--primary-teal)
}

.text-org{
    color:#FDC040 !important
}

.hd{
    font-size: 22px !important;
    font-weight: 600 !important;
}

.row{
    width: 100% !important;
}

.col-md-12{
    padding: 0px !important;
}


.productCard .price{
    font-size: 15px; 
    margin-right: 20px;
    color: var(--primary-teal)
}

.productCard .oldPrice{
    font-size: 15px;
    /* opacity: 0.6; */
    color: var(--charcoal);
    text-decoration: line-through;
}


a{
    text-decoration: none;
}

/**************************
Product Listing Page
**************************/

.listingPage{
    padding: 100%;
    height: auto;
    padding: 20px 0px;
}

.listingPage .listingData{
    margin-top: 30px !important;
    /* display: none */
}

.loading {
    width: 100% !important;
    height: 200px !important
}

.loading .progressIcon {
    font-size: 5px !important;
}

.breadcrumb{
    width: 100% !important;
    height: auto !important;
    padding: 18px 30px !important;
    background-color: #d8f1e5 !important;
}
.breadcrumb h3{
    color: var(--charcoal);
    /* opacity: 0.8; */
    font-size: 25px;
    font-weight: bold;
}

.breadcrumb ul li a{
    color: var(--charcoal);
    text-decoration: none;
    font-size: 15px;
}

.listingPage .listingData .productContainer {
    display: flex;
}

.listingPage .listingData .productRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important
}

.listingPage .listingData .productRow .item{
    width: 100% !important

    
}

/***********************************
Home Nav
************************************/
.nav{
    width: 100%;
    height: 50px;
    margin: auto;
    /* padding: 000px 500px; */
    /* padding-left: 20px !important; */
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.nav .categoryTab{
    padding: 5px 15px !important;
    font-size: 15px !important;
    text-transform: capitalize !important;
    color: #fff !important
}
.nav li{
    position: relative;
}
.nav nav li button{
    text-transform: capitalize !important;
    /* padding: 21px 25px !important; */
    color: rgba(0,0,0,0.8) !important;
}

.nav nav ul li button a{
    text-decoration: none !important;
    color: var(--charcoal) !important;
    font-size: 14px !important;
    
}



.nav .part3 .phone svg{
    font-size: 30px !important;
    color: var(--charcoal) !important
}
.nav .part3 .phone .info{
    padding: 0px 10px
}
.nav .part3 .phone h3{
    font-size: 16px !important;
    line-height: 15px !important;
    color: var(--primary-teal);
}
.nav .part3 .phone p{
    font-size: 13px !important;
    opacity: 0.8;
}


.nav nav .menuDropdown{
    /* width: 100%; */
    position: absolute;
    top: 150%;
    left: 20px;
    width: 300px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* padding: 10px 0px; */
    z-index: 100;
    /* opacity: 0; */
    visibility: hidden;
    /* transition: all 0.1s case-in-out; */
}
nav .menuDropdown li{
    width: 100% !important;
    list-style: none;
    margin: 0px !important;
}
.nav nav .menuDropdown button{
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start;
    text-transform: capitalize;
    font-size: 16px  !important;
    padding: 10px 20px !important;
    color: var(--primary-teal) !important;
    font-weight: 400 !important;
}
.nav nav .menuDropdownli button:hover{
    background-color: #f1f1f1 !important;
}
.nav nav li:hover .menuDropdown{
    top: 100%;
    opacity: 1;
    visibility: inherit;
}

.megaMenu{
    height: auto !important;
    padding: 30px 45px !important
}
.megaMenu .col ul{
    padding-left: 0px !important;
}
.megaMenu .col ul li{
    color: rgba(0,0,0,0.8);
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}




/***********************
Dropdown Select
*************************/


.selectDrop{
    width: 300px;
    height: 400px; 
    background-color: #fff;
    position: absolute;
    top: 110%;
    left: -20px;
    z-index: 100;
    border-radius: 0px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    padding: 15px
}

.searchField input {
    width: 100%;
    height: 40px;
    border: 1px solid #bce3c9; 
    border-radius: 2px;
    outline: none; 
    padding: 0px 15px;
    font-size: 14px;
}

.selectDrop .searchResults{
    width: 100%; 
    margin: 0px; 
    margin-top: 10px; padding: 10px 0px; 
    max-height: 300px;
    overflow-y: scroll;
}

.selecDrop .searchResults::webkit-scrollbar{
    width: 200px !important;
}

.selecDrop .searchResults::-webkit-scrollbar-thumb{
    background-color: #ccc !important;
}

.selectDrop .searchResults li{
    list-style: none;
    font-size: 16px; 
    width: 100%; 
    padding: 10px;
    border-radius: 7px;
}

.selectDrop .searchResults li:hover{
    background: var(--dark-teal);
    color: #fff;
}
.selectDrop .searchResults li:active{
    background: #f1f1f1;
    color: var(--charcoal)     !important
}



/*****************************
Sidebar
*****************************/


.sidebarContainer{
    max-width: 20%;
    padding-left: 0px !important;
    padding-right: 30px !important
}
.rightConttent{
    max-width: 80%
}
.sidebarContainer h5{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
/* .sidebarContainer h5:after{
    content: "";
    width: 100%;
    height: 3px;
    background: #f0f0f0;
    position: absolute;
    bottom: 0px;
    left: 0px;
} */
/* .sidebarContainer h5:before{
    content: "";
    width: 20%;
    height: 3px;
    background: #b0e5c2;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10
} */

.sidebarContainer .sidebar .wrapper{
    padding: 25px;
    border-radius: 5px !important;
    /* border: 1px solid #ccc ; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sidebarContainer .sidebar .catList .catItem{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        margin: 10px 0px;
    border-radius: 4px;
    transition: none !important;
    outline: none !important;
    gap: 5px;
    opacity: 0.9;

}
.sidebarContainer .sidebar .catList .catItem:hover{
    border: 1px solid #ccc;
    cursor: pointer;
}
.sidebarContainer .sidebar .catList .catItem h6{
    color: var(--charcoal);
    font-size: 15px;
}
.sidebarContainer .sidebar .catList .catItem .rounded-circle{
    background-color: #BCE3c9;
    width: 30px;
    height: 30px;
    font-size: 13px
}


.priceRange span{
    font-size: 15px;
}

.filters{
    padding: 10px 0px
}
.filters h6{
    font-weight: 600;
}
.filters ul{
    /* max-height: 200px; */
    /* overflow-y: scroll; */
}
/* .filters ul::-webkit-scrollbar{
    width: 7px !important
}
.filters ul::-webkit-thumb{
    background-color: #ccc !important;
} */
.filters ul li{
    width: 100%;
    margin-bottom: 5px;
    list-style: none;
    padding: 0px !important
}

.sidebarContainer .sidebar .btn{
    width: 150px !important;
    background-color: var(--primary-teal);
    color: white;
}

.rightContent .topHeading{
    padding: 0px 25px;
}
.rightContent .topHeading p{
    font-size: 16px
}

.rightContent .topHeading .tab{
    width: 200px;
    margin: 3px;
}
.rightContent .topHeading .tab .btn{
    background-color: none;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px 20px;
    text-transform: capitalize;
    color: rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.rightContent .topHeading .tab .btn svg{
    opacity: 0.5;
    font-size: 20px;
    margin-right: 5px
}
.rightContent .topHeading .tab .dropdownMenuContainer{
    top: 100%;
}







/************************
Product Details
*************************/

.breadcrumbWrapper{
    width: 100%;
    height: auto;

    /* padding: 10px 0px; */
    /* border-bottom: 1px solid rgba(0,0,0,0.1) !important; */
}
ul.breadcrumb2{
    padding-top: 10px !important;
    padding-left: 30px !important;
    padding-right: 0px !important;
    list-style: none !important;
    background-color: none !important;
}
ul.breadcrumb2 li{
    display: inline;
    font-size: 14px;
    font-weight: 600;
}
ul.breadcrumb2 li+li:before{
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    color: var(--charcoal) !important;
    content: "\f105" !important;
    padding: 8px;

}
ul.breadcrumb2 li a{
    color: var(--primary-teal);
    text-decoration: none !important;
}
ul.breadcrumb2 li a:hover{
    color:var(--dark-teal);
    text-decoration: underline !important;
}

.productDetails .productInfo h1{
    font-size: 25px;
    font-weight: bold;
    opacity: 0.8;
}
.detailsContainer .productInfo .rating{
    font-size: 18px !important;
}
.detailsContainer .productInfo .brand{
    font-size: 13px !important;
    color: var(--charcoal);
    margin-top: -5px;
}
.detailsContainer .productInfo .brand span{
    font-weight: 700;
    color: var(--dark-teal)
}
.detailsContainer .productInfo .ratingContainer{
    padding: 10px 0px !important

}

.detailsContainer .productInfo .reviewNumber{
    font-size: 13px !important;

}

/* .detailsContainer{
    max-width: 95%
} */
.detailsContainer .productInfo .priceContainer .priceLarge{
    font-size: 25px; 
    font-weight: bold;
    padding: 5px 0px;
    margin-right: 10px;
}

.priceContainer .discount{
    color:var(--golden-yellow);
    font-size: 13px;

}

.priceContainer .oldPrice{
    font-size: 13px;
    /* opacity: 0.6; */
    color: var(--soft-coral) !important;
    font-weight: 600;
    text-decoration: line-through;
}

.detailsContainer .productInfo p .readMore{
    font-size: 13px;
    font-weight: bold;
    color: var(--primary-teal);
    cursor: pointer;
   
}

/* .productZoom{
    width: 100%;
    height: 650px !important;
    padding: 0px;
    overflow: hidden;
}

.zoomSlider{
    padding-top: 5px;
    position: relative;
}
.zoomSlider .slick-slide{
    overflow: hidden;
}
.zoomSlider .item{
    border: 2px solid transparent !important;
    overflow: hidden;
    cursor: pointer;
    height: 100px;
}
.zoomSlider .item img{
    height: 100%;
    width: 100%
    
} */
.zoomSlider .slick-current{
    border: 2px solid var(--dark-teal) !important;
    height: 100px;
}
.zoomSlider .slick-arrow{
    position: absolute;
    top: 60% !important;
    zoom: 80% !important;
    background-color: var(--primary-teal);
}

.zoomSlider .slick-arrow{
    width: 25px !important;
    height: 25px !important;
    background: rgba(0,0,0,0.9) !important;
   
}

.zoomSlider .slick-prev:before{
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 16px !important;
    font-weight: 900 !important;
    color: #fff !important;
    content: "\f104" !important;
}
.zoomSlider .slick-next:before{
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 16px !important;
    font-weight: 900 !important;
    color: #fff !important;
    content: "\f105" !important;
}
.zoomSlider .slick-arrow.slick-next{
    right: 0 !important;
    top: 60% !important
}
.zoomSlider .slick-arrow.slick-prev{
    left: 0 !important;
    top: 60% !important
}


/****************
Product size
******************/
.productSize{
    width: 100%;
    height: auto;
    padding: 5px 0px
}
.productSize {
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(96, 96, 96)
}


/********************
Product details Add to cart style
**********************/

input[type=number]{
    -moz-appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.addCartSection{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px
}


.addCartSection button{
    height: 35px;
    min-width: inherit !important;
    margin-left: 5px;
    font-size: 15px !important;
}
.addCartSection button svg{
    font-size: 20px !important;
}

.productInfo .additionalInfo{
    display: flex !important;
    gap: 15%
}

.productInfo .additionalInfo ul li{
    font-size: 16px;
    font-weight: 500;
    color: rgb(96, 96, 96);
    padding: 3px 0px
}
.productInfo .additionalInfo ul li .value{
    color: var(--primary-teal);
}



.detailsPageTabs{
    border-radius: 5px !important;
    /* max-width: 95%; */
    
}


/* .customTabs ul{
    display: flex !important;
    background-color: red;
} */
.customTabs ul li{
    margin-right: 15px !important
}
.customTabs ul li button{
    padding: 5px 20px !important;
    border: 1px solid rgba(0,0,0,0.2)!important;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 30px;
    color: var(--charcoal);;
}

.customTabs ul li button.active{
    color: var(--dark-teal)
}


.reviewsCard{
    margin-bottom: 20px;
}
.reviewsCard .imageBox{
    display: flex !important;
    justify-content: center !important;
    width: 100%;
}
.reviewsCard .rounded-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background-color: var(--primary-teal);
}
.reviewsCard .rounded-circle .initial{
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: block;
    text-align: center;
}

.reviewsCard .leftContainer{
    width: 30%
}
.reviewsCard .rightContainer{
    width: 70%;
    padding-left: 15px;
}

.reviewForm .form-group{
    width: 100%
}
.reviewForm .form-group .form-control{
    height: 45px;
    font-size: 15px;
    border-radius: 7px !important;
    padding-left: 20px;
}
.reviewForm .form-group textarea.form-control {
    height: 130px; padding-top:25px;
}

.reviewsScroll{
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 25px;
    padding-right: 25px;
}

.reviewsScroll::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.reviewsScroll::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
.reviewsScroll::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

.progressBarBox .progress{
    margin-left: 10px !important
}

.customerReviewContainer .reviewRating strong{
    margin-left: 15px
}

.relatedProducts .item{
    padding: 0px 10px;
}

/*******************
Product category filter
*********************/
.productFilter button {
    font-size: 14px !important;
    text-transform: capitalize !important;
    padding-bottom: 0px;
    /* color: rgba(0, 0, 0, 0.08) !important */
}

.productFilter .MuiButtonBase-root svg{
    font-size: 70px !important;
    display: none !important
}

.productFilter .css-19wsa2m-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: var(--dark-teal)
}

.productFilter .css-1sj2jcg-MuiTabs-indicator {
    /* position: absolute;
    height: 2px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    background-color: var(--dark-teal);
}

/*******************************
Login Style
********************************/

.loginSection {
    width: 100%;
    height: 100vh;
    padding: 35px 25px;
    position: relative;
}
/* .loginBackgroundPattern{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.2;
    top: 0px;
    left: 0px;
    z-index: 99;
    pointer-events: none;
} */
.loginSection .loginBox{
    width: 30% !important;
    height: auto;
    margin: auto;
}
.loginSection .loginBox .wrapper{
    width: 100%;
    height: auto;
    background-color: #f0f0f0 !important;
    position: relative;
    z-index: 100;
    padding: 35px !important
}

.loginSection .loginBox .wrapper .form-group{
    margin-bottom: 15px !important;
}

.loginSection .loginBox .wrapper .form-control{
    background-color: #fff  !important;
    box-shadow: none !important;
    outline: none;
    border-radius: 8px !important;
    font-size: 14px;
    font-weight: 600 !important;
    height: 45px;
    padding-left: 40px;
}

.loginSection .loginBox .wrapper .form-group.focus .icon svg{
    color: var(--primary-teal) !important;
}
.loginSection .loginBox .wrapper .form-control:focus {
    border: 1px solid var(--light-teal) !important;
}
.loginSection .loginBox .wrapper .form-group .icon {
    position: absolute;
    top: 3px;
    left: 10px;
    z-index: 100;
    font-size: 23px
}
.loginSection .loginBox .wrapper .form-group .icon svg {
   color: #5e5d72
}

.toggleShowPassword {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer
}
.toggleShowPassword svg{
    font-size: 22px;
    color: #5e5d72;
}
.loginSection .loginBox .wrapper .link{
    font-size: 14px;
}


.loginSection .loginBox .wrapper .or span.line{
    display: block;
    width: 35%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
}
.loginSection .loginBox .wrapper .or span.text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: 600;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%
}

.loginSection .loginBox .wrapper .form-group select{
    width: 100%;
    /* padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; */

    border: 1px solid #ccc;
    color: #5e5d72;

    background-color: #fff  !important;
    box-shadow: none !important;
    outline: none;
    border-radius: 8px !important;
    font-size: 14px;
    font-weight: 600 !important;
    height: 45px;
    padding-left: 40px;
}
.loginSection .loginBox .wrapper .form-group select option:hover{
    background-color: #e6f2e6 !important; /* Change background color of options */
    color: #333;
}

.loginSection .loginBox .wrapper .form-group select:focus {
    border: 1px solid var(--light-teal) !important;
}

.loginSection .loginBox .wrapper .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    color: #5e5d72 !important;
    outline: none;   
  }

  .loginSection .loginBox .wrapper .form-group textarea:focus {
    border: 1px solid var(--light-teal) !important;
}

.loginWithGoogle{
    text-transform: capitalize !important;
    font-weight: bold !important;
}
.loginWithGoogle svg{
    margin-right: 10px;
}
.loginSection .loginBox .wrapper.footer{
    padding: 10px !important;
}





/**************************
Signup Sttyle
*****************************/


/* Ensure consistent container sizing */
.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Zoomed Image Section */
.productZoom {
    max-width: 100%;
    margin-bottom: 10px;
}

/* Slider Item */
.zoomSlider .item {
    width: 100%;
    height: 400px; /* Prevent layout shift */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Slider Images */
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images fill the space without distortion */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.slider-image:hover {
    transform: scale(1.05);
}

/* No Images Message */
.no-images {
    text-align: center;
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}

/******************************
Product Card
*******************************/
.productCard{
    width: 100px;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 10px;
    padding: 20px !important;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.cardInfo .ratingContainer .rating{
    font-size: 15px !important;
    margin-right: 3px !important;
}
.cardInfo .ratingContainer .ratingNumber{
    font-size: 13px !important;
    color: gray;

}

.product-card {
    /* width: 220px; */
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    /* margin: 1em auto; */
    margin: 10px 0px;
    transition: transform 0.3s ease;
    
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    /* height: 150px !important;  */
    object-fit: cover;

}

.product-card .card-body {
    padding: 1em;
}

.product-card .product-title {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--charcoal);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

.product-card .product-price {
    font-size: 1em;
    color: var(--soft-coral);
    font-weight: bold;
}
.product-card .product-price .pricePckage {
    font-size: 0.8em;
    color: var(--soft-coral);
    font-weight: bold;
    margin-bottom: 0.3em;
}

/* .product-card .product-discount {
    font-size: 0.9em;
    color: var(--golden-yellow);
    margin-bottom: 0.5em;
} */

.product-card .product-stock {
    color: var(--dark-teal);
    font-size: 0.9em;
}

.product-card .product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card .product-actions button {
    display: flex;
    align-items: center;
    padding: 0.2em 0.8em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
    background-color: var(--primary-teal) !important;
    color: var(--white);
    transition: background-color 0.3s ease;
    
}
.product-card .product-actions button svg {
    margin-right: 3px;
    font-size: 1rem;
}

.product-card .product-actions button:hover {
    background-color: var(--dark-teal) !important;
}

.product-card .product-actions .cartBtn.active {
    background-color: var(--dark-teal);
    color: white;
}




/* .product-card:hover {
    transform: scale(1.02);
} */

.product-media {
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* .product-card:hover .product-media {
    transform: scale(1.05);
} */

.product-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-card:hover .product-icons {
    opacity: 1;
}

.product-icons button {
 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    padding-top: 13px !important;
    color: var(--dark-teal);
    display: flex !important;
    justify-content: center !important;

}

.product-icons button:hover {
    border-radius: 50%;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    padding-top: 13px !important;
    background-color: rgba(255, 255, 255, 0.8);
}

.product-card .product-icons .icon{
    color: var(--dark-teal)
}

.share-button-container {
    position: relative;
    display: inline-block;
  }
  
  .share-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .share-options {
    position: absolute;
    top: 105%;
    left: 0;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    /* display: flex; */
    gap: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    white-space: nowrap;
}

.formElem:focus {
    border-color: var(--primary-teal) !important;
    outline: none !important;
}


@media (max-width: 576px) {
    .container-fluid{
        padding: 0px 0px !important;
        width: 100%;
    }
}


  













