
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body{
    font-family: "Roboto", "sans-serif" !important;
    background-color: #ebe9e9 !important;
    overflow-x: hidden;
}
body.dark {
    background-color: #071739 !important;
}
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important
}
::-webkit-scrollbar-thumb {
    background: transparent !important;
}
::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.btn-blue{
    background: #0858f7 !important;
    font-size: 14px !important;
    font-weight: 600px;
    color: #fff !important;
    text-transform: capitalize !important;
    border-radius: 5px !important;
}
.cursor{
    cursor: pointer;
}

.btn-large{
    padding: 5px 25px !important
}
.btn-big {
    padding: 10px 25px !important;
    font-size: 16px !important;;
}
.btn-big svg{
    font-size: 25px !important;
    margin-right: 7px
}

.btn-round{
    border-radius: 30px !important;
}

.full{
    max-width: 100% !important;
    width: 100% !important;
    flex: 0 0 100% !important;

}

.link {
    color: #5e5d72 !important;
    font-weight: 600;
    text-decoration: none;
}
.link:hover {
    color: #0858f7 !important;
    text-decoration: underline;
}
.link.color{
    color: #0858f7 !important;
    text-decoration: none;
    margin-left: 8px

}

header{
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255,0.9);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    -webkit-backdrop-filter: blur(5px)
}
header .row{
    margin: 0px !important
}
body.dark header{
    background-color: #112143 !important;
}
header .logo{
    text-decoration: none;
}
header .logo img{
    width: 150px;
}

header button.rounded-circle{
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    background-color: #f0f5ff !important;
    color: #292929;
    margin-right: 10px
}
header button.rounded-circle svg{
    color: #292929;
    font-size: 18px;
    transition: all 0.3s ease-in-out !important;
}

header button.rounded-circle:hover svg{
    color: #0858f7 !important;
}

body.dark header button.rounded-circle{
    background-color: #112755 !important;
}
body.dark header button.rounded-circle svg{
    color: #fff
}


.searchBox {
    width: 400px;
    height: 40px;
    background-color: #f0f5ff;
    border-radius: 6px;
    padding: 3px 15px;
}

body.dark .searchBox {
    background-color: #12254e !important;
}
.searchBox input{
    background: transparent;
    border: 0px;
    outline: none;
    padding-left: 5px;
    font-size: 14  px;
    color: #292929
}
.searchBox input::-webkit-input-placeholder{
    color: rgba(0,0,0,0.6);
}

body.dark .searchBox, body.dark .searchBox input::-webkit-input-placeholder, body.dark .searchBox svg, body.dark .searchBox input {
    color: rgba(255, 255, 255,0.9)
}

.searchBox svg{
    font-size: 18px;
    color: #292929;
}

.myAccount {
    text-align: left !important;
    color: #000 !important;
    text-transform: capitalize !important;
}
.myAccount .userImage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #0858f7;
    background-color: #0858f7;
    padding: 2px;
    border-radius: 100%
}
.myAccount .userImage .rounded-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer
}
.myAccount .userImage .rounded-circle img{
    object-fit: cover;
    height: 100%;
    width: 100%
}

.userImage.lg{
    width: 60px !important;
    height: 60px !important;
    margin-right: 5px !important 
}
.myAccount .userInfo{
    padding-left: 3px;;
}
.myAccount .userInfo h4{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #ecd6d6;
    line-height:  15px
}
.myAccount .userInfo p{
    margin-top: 0px;
    font-size: 12px;
    color: #000;
    opacity: 0.7;
}

body.dark .myAccount .userInfo *{
    color: rgba(255, 255, 255,0.8) !important
}


.main .sidebarContainer {
    width: 20%;
    flex: 0 0 20%;
    transition: all 0.4s ;
}
.main .sidebarContainer.toggle {
    width: 0%;
    flex: 0 0 00%;
}
.main .sidebarContainer .sidebar {
    width: 20%;
    height: 100vh;
    max-height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: hidden;;
    position: fixed;
    top: 70px;
    left: 0px;
    background-color: #fff;
    padding-bottom: 40px;
    transition: all 0.3s
}
body.dark .main .sidebarContainer .sidebar {
    background-color: #112143 !important;
}

.main .sidebarContainer.toggle .sidebar {
    left: -100%;
}


.main .sidebarContainer .sidebar::-webkit-scrollbar{
    width: 5px !important;
}
.main .sidebarContainer .sidebar::-webkit-scrollbar-thumb{
    background-color: transparent !important;
}
.main .sidebarContainer:hover .sidebar::-webkit-scrollbar {
    background-color: #0858f7 !important;
}
.main .sidebarContainer .sidebar ul{
    margin-bottom: 0px;
    padding-left: 0px !important;
    padding: 10px 15px !important;
}
.main .sidebarContainer .sidebar ul li{
    list-style: none;
}
.main .sidebarContainer .sidebar ul li button{
    color: #5e5d72;
    text-align: left;
    justify-content: left;
    border-radius: 10px !important;
    padding: 12px 15px !important;
    align-items: center;
    text-transform: capitalize !important;
    font-weight: 8 00 !important ;

}
body.dark .main .sidebarContainer .sidebar ul li button{
    color: rgba(255, 255, 255,0.8) !important
}

.main .sidebarContainer .sidebar ul li button .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.main .sidebarContainer .sidebar ul li button .icon svg{
    font-size: 22px;
}
.main .sidebarContainer .sidebar ul li button *{
    color: #5e5d72 !important
}
.main .sidebarContainer .sidebar ul button .arrow{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

.main .sidebarContainer .sidebar ul li button:hover{
    background-color: #f1f1f1 !important;
}
body.dark .main .sidebarContainer .sidebar ul li button:hover{
    background-color: rgba(255, 255, 255,0.1);
}


.main .sidebarContainer .sidebar ul li button.active{
    background-color: #f1f1f1 !important;
}
body.dark .main .sidebarContainer .sidebar ul li button.active{
    background-color: rgba(255, 255, 255,0.1) !important;
}

.main .sidebarContainer .sidebar ul li button.active .icon svg{
    color: #0858f7 !important;
}
.main .sidebarContainer .sidebar ul li button.active .arrow{
    transform: rotate(90deg);
}


.main .sidebarContainer .sidebar ul .submenu{
    padding: 0px 45px !important;
    position: relative
}
.main .sidebarContainer .sidebar ul .submenu::before{
    content: "";
    width: 1px;
    height: 95%;
    position: absolute;
    top: 0px;
    left: 25px;
    background-color: rgba(0,0,0,0.2);
}
body.dark .main .sidebarContainer .sidebar ul .submenu::before{
    background-color: rgba(255,255,255,0.2);
}

.main .sidebarContainer .sidebar ul li{
    list-style: none;
}
.main .sidebarContainer .sidebar ul li a{
    color:#5e5d72 !important;
    text-decoration: none;
    display: block;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 500px;
    transition: all 0.3s ease-in-out;
}
body.dark .main .sidebarContainer .sidebar ul li a{
    color: rgba(255, 255, 255, 0.7) !important
}
.main .sidebarContainer .sidebar ul .submenu li a:hover{
    color: #0858f7 !important
}
body.dark .main .sidebarContainer .sidebar ul li a:hover{
    color: #0858f7 !important
}

.main .sidebarContainer .sidebar ul .submenuContainer{
    transition: all 0.3s ease-in-out;
    height: 0px;
    overflow: hidden;
}
.main .sidebarContainer .sidebar ul .submenuContainer.closeMenu{
    height: 0px
}
.main .sidebarContainer .sidebar ul .submenuContainer.closeMenu .submenu{
    opacity: 0
}

.main .sidebarContainer .sidebar ul .submenuContainer.openMenu{
    height: auto;
    overflow: inherit;
}
.main .sidebarContainer .sidebar ul .submenuContainer.openMenu .submenu{
    opacity: 1;
    height: auto;
}


.logoutContainer{
    padding: 0px 25px
}
.logoutContainer .logoutBox{
    width: 100%;
    height: 130px;
    padding: 25px;
    background-color: #bcd2fd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body.dark .logoutContainer .logoutBox{
    background-color: transparent;
    background-image: linear-gradient(#183e8c, #163474)
}

.logoutContainer .logoutBox::before{
    content: "";
    width: 70px;
    height: 70px;
    background-color: #0858f7;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 0.5;
}
.logoutContainer .logoutBox::after{
    content: "";
    width: 30px;
    height: 30px;
    background-color: #0858f7;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 10px;
    opacity: 0.5;
}

.logoutContainer .logoutBox button{
    font-size: 14px !important;
    font-weight: 600px !important;

}
.logoutContainer .logoutBox button svg{
    margin-right: 5px;
    font-size: 18px !important;
    /* display:none !important */

}


/***********************
Dashboard
*********************/

.main .content {
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out
}
.main .content.toggle {
    width: 100%;
    flex: 0 0 100%;
}
.rightContent{
    padding: 90px 30px;
    padding-bottom: 10px
}
.rightContent .categoryHeaderContainer .addCategoryBtn{
    margin-left: 10px !important
}
.dashboardBoxContainer{
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}
.dashboardBoxContainer .dashboardBox{
    width: 48%;
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.productListing.dashboardBoxContainer .dashboardBox{
    width: 32% !important;
} 

.dashboardBoxContainer .dashboardBox .col1 h4{
    font-size: 16px;
    font-weight: 500px;
}

.dashboardBoxContainer .dashboardBox span{
    font-size: 35px;
    font-weight: bold;
    line-height: 45px;
}

.dashboardBoxContainer .dashboardBox .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
}

.dashboardBoxContainer .dashboardBox .icon svg{
    font-size: 36px;
    color: #fff;
    opacity: 0.4;
}

.dashboardBoxContainer .dashboardBox .toggleIcon{
    font-size: 22px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    width: 40px;
    min-width: 40px !important;
    height: 40px !important;
    color: rgba(0,0,0,0.5);
    border-radius: 50% !important;

}

.dashboardBoxContainer .dashboardBox .chart{
    opacity: 0.1;
    position: absolute;
    bottom: 20px;
    left: 20px
}
.dashboardBoxContainer .dashboardBox .chart svg{
    font-size: 110px;
    color: #000;
}
.dashboardBoxContainer .dashboardBox .bottomEle{
    position: relative;
    top: 25px
}
.dashboardBoxContainerRow .box{
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.graphBox{
    background-image: linear-gradient(#1a50b5, #2a6ff7);
    border-radius: 10px;
    padding: 25px;

}
.graphBox h4{
    font-size: 16px;
    font-weight: 600
}
.graphBox p{
    font-size: 13px;
    color: #fff;
    opacity: 0.7;
}

.card{
    margin: 20px 0px;
    border-radius: 10px;;
}
body.dark .card{
    background-color: #112143 !important;
}
.card .hd{
    font-size: 18px;
    font-weight: bold;
    color: #403357 !important;
}
body.dark .card .hd{
    color: rgba(255, 255, 255, 0.8) !important
}


/***********************
Card Table
**************************/
.cardFilters .col-md-3 h4{
    font-size: 14px;
    font-family: 800;
    text-transform: capitalize;;
    color: #403e57
}
body.dark .cardFilters .col-md-3 h4{
    color: rgba(255, 255, 255, 0.8) !important
}
h1, h2, h3, h4, h5, h6, p {
    color: #403e57 !important
}

body.dark .css-1cprn2g-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
body.dark h1,
body.dark h2, 
body.dark h3,
body.dark h4, 
body.dark h5, 
body.dark h6, 
body.dark p,
body.dark span,
body.dark .css-1u6jos5-MuiSvgIcon-root-MuiSelect-icon {
    color: rgba(255, 255, 255, 0.8) !important

}
p{
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}
body.light p{
    font-weight: 400 !important;
}
body.dark .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: rgba(255, 255, 255, 0.3) !important

}
.table-responsive::-webkit-scrollbar-thumb{
    background-color: #ccc !important;
}

.slick-slide::before{
    display: block !important
}

body.dark .table-striped tbody tr:nth-of-type(odd){
    background-color: rgba(0,0,0,0.2) !important;
}
.table .thead-dark th{
    background-color: #1866ee !important;
    border-color: rgba(255, 255, 255,0.1) !important;
    font-size: 13px !important;
    color: #fff
}
.table tbody td{
    font-size: 13px !important;
    color: #403e57;
    font-weight: 500;
}
body.dark .table tbody td{
    background-color: #112143 !important;
}

body.dark .table tbody td, body.dark .table tbody tr{
    border-color: rgba(255, 255, 255,0.1) !important;
}
.table tbody .actions button{
    min-width: 32px !important;
    width: 32px !important;
    height: 32px !important;
    margin: 0px 3px !important;
}

.table tbody .actions button.secondary{
    background-color: rgba(203, 60, 231, 0.2) !important;
}
.table tbody .actions button.success{
    background-color: rgba(203, 60, 231, 0.2) !important;
}
.table tbody .actions button.error{
    background-color: rgba(203, 60, 231, 0.2) !important;
}

.table tbody .actions button svg{
    font-size: 32px !important;
}
table td{
    vertical-align: middle !important;
}

.table td .oldPrice, .table td .newPrice{
    display: block;
    width: 100%;
}

.table td .imageContainer{
    width: 30%;
    flex: 0 0 30%
}
.table td .info{
    width: 70%;
    flex: 0 0 70%
}

/* .table td .imageContainer img{
    width: 100px;
    
} */
.table td .info h6{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px !important;
}
.table td .info p{
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5e5d72;
    margin-bottom: 0px;
}

table td .productBox{
    width: 220px;
    padding: 5px
}
table td .productBox .info{
    width: 100%
}

.tableFooter{
    padding-bottom: 20px;
}
.tableFooter .pagination{
    margin-left: auto;
}

.table td .subCatContainer{
    display: flex !important;
    margin-right: 5px
}
.table td .subCatContainer .subCategory{
   /* background-color: blue !important; */
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   padding: 5px !important;
   width: max-content;
   font-size: 10px
   
}
.table td .subCatContainer  .img{
  width: 50px
   
}
.table td .subCatContainer .subCategory .deleteIcon{
  font-size:15px !important;
  color: rgb(216, 22, 22);
  position: absolute;
  top: 0 !important;
  right: 0
}

/* .table td .subCategory.badge svg{
    font-size: 15px;
    margin-left: 5px
} */

.tableFooter p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}

body.dark .table td{
    color: rgba(255, 255, 255, 0.5) !important  
}

.css-1gaup4j-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: #0858f7 !important;
}
body.dark .css-1gaup4j-MuiButtonBase-root-MuiPaginationItem-root{
    color: rgba(255, 255, 255, 0.8) !important;
}
body.dark .css-1gaup4j-MuiButtonBase-root-MuiPaginationItem-root:hover{
    color: #0858f7 !important; 
}
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selectd{
    background-color: #0858f7 !important;
}

/*******************************
Login Style
********************************/

.loginSection {
    width: 100%;
    height: 100vh;
    padding: 35px 25px;
    position: relative;
}
.loginBackgroundPattern{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.2;
    top: 0px;
    left: 0px;
    z-index: 99;
    pointer-events: none;
}
.loginSection .loginBox{
    width: 50% !important;
    height: auto;
    margin: auto;
}
.loginSection .loginBox .wrapper{
    width: 100%;
    height: auto;
    background-color: #f0f0f0 !important;
    position: relative;
    z-index: 100;
    padding: 35px !important
}

.loginSection .loginBox .wrapper .form-group{
    margin-bottom: 15px !important;
}


.loginSection .loginBox .wrapper .form-control{
    background-color: #fff  !important;
    box-shadow: none !important;
    outline: none;
    border-radius: 8px !important;
    font-size: 14px;
    font-weight: 600 !important;
    height: 45px;
    padding-left: 40px;
}

.loginSection .loginBox .wrapper .form-group.focus .icon svg{
    color: #0858f7 !important;
}
.loginSection .loginBox .wrapper .form-group:focus {
    border: 1px solid #0858f7 !important;

}
.loginSection .loginBox .wrapper .form-group .icon {
    position: absolute;
    top: 3px;
    left: 10px;
    z-index: 100;
    font-size: 23px
}
.loginSection .loginBox .wrapper .form-group .icon svg {
   color: #5e5d72
}

.toggleShowPassword {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer
}
.toggleShowPassword svg{
    font-size: 22px;
    color: #5e5d72;
}
.loginSection .loginBox .wrapper .link{
    font-size: 14px;
}


.loginSection .loginBox .wrapper .or span.line{
    display: block;
    width: 35%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
}
.loginSection .loginBox .wrapper .or span.text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: 600;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%
}

.loginWithGoogle{
    text-transform: capitalize !important;
    font-weight: bold !important;
}
.loginWithGoogle svg{
    margin-right: 10px;
}
.loginSection .loginBox .wrapper.footer{
    padding: 10px !important;
}

/**************************
Signup Sttyle
*****************************/

.signupSection{
    background-color: #f1f1f1 !important;
    padding: 0px 0px;
    height: auto !important
}
.signupSection .loginBox {
    background-color: #e4e4e4 !important;
    position: relative;
    z-index: 100;
    width: 100% !important;
    padding: 25px 5px !important;
}
.signupSection .loginBox .wrapper {
    border: 0px !important;
    background-color: transparent !important;
    padding-top: 10px !important
}
.signupSection .signupContent {
    padding-left: 100px;
    padding-right: 100px
}
.signupSection .signupContent h1 {
    font-size: 40px;
    font-weight: 800;
}
.signupSection .signupContent p {
    font-size: 18px;
    font-weight: 600;
}

/***************************
Breadcrumb Style
*************************/
.breadcrumbs_ a:hover{
    text-decoration: none !important
}
body.dark .breadcrumbs_ a {
    background-color: #112143 !important
}
body.dark .breadcrumbs_ a *{
    color: rgba(255, 255, 255, 0.7);
}
body.dark .breadcrumbs_ li .MuiChip-filled{
    background-color: #112143 !important;
    color: rgba(255, 255, 255, 0.7) !important;
}
body.dark .css-1wuw8dw-MuiBreadcrumbs-separator{
    background-color: #112143 !important;
    color: rgba(255, 255, 255, 0.7) !important
}

/************************
Slider Style
*************************/
.productDetailsSection .row .wrapper, .productDetailsSection .row .detailsWrapper{
    margin: 0px 20px!important 
}
.smallSlider{
    display: flex !important;
    justify-content: center !important;
}
.smallSlider .slick-slide, .heroSlider .slick-slide {
    padding-right: 10px;
    margin: 0px !important
}

.heroSlider {
    border-radius: 7px;
    width: 100%;
    height: 300px !important;
    /* border: 2px dashed #ccc !important;
    overflow: hidden !important;
    cursor: pointer; */

}

.heroSlider img{
    /* /* width: 100% !important;  */
    /* height: 100% !important;  */
    /* object-fit: cover;   */
}

/* body.light .heroSlider .item{
} */
.smallSlider .slick-slide .item{
    border-radius: 7px !important;
    overflow: hidden !important;
    cursor: pointer;
    height: 50px
}
.smallSlider .slick-slide .item img{
    width: 100%; /* Ensures the image stretches to fit the slider width */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures the image fills the container */
}

.smallSlider .slick-current .item{
    border: 1px solid rgb(128, 128, 128) !important
}
body.light .smallSlider .slick-slide .item{
    border: 2px dashed #ccc !important;
}
/* .smallSlider .item{
    overflow: hidden;
    border-radius: 7px;
    border-radius: 2px dashed #ccc !important;
    border-radius: 2px dashed #ccc !important;
    
} */

.slick-prev:before {
    position: absolute;
    left: 5px;
    top: 0px;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    z-index: 1000 !important;
    color: rgb(36, 33, 33) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next:before {
    position: absolute;
    right: 15px;
    top: 0px;
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 8;
    z-index: 1000 !important;
    color: rgb(36, 33, 33) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.productDetailsSection .productInfo .icon{
    width: 18%;
    flex: 0 0 18%;
}
.productDetailsSection .productInfo .icon svg{
   font-size: 22px;
}
body.light .productDetailsSection .productInfo .icon svg{
   color: #5e5d72 !important
}

body.dark .productDetailsSection .productInfo{
    color:rgba(255, 255, 255, 0.8);
}
.productDetailsSection .productInfo .name{
    width: 82%;
    flex: 0 0 82%;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px
}

body.light .productDetailsSection .productInfo .name{
    color: #5e5d72 !important
}

.productDetailsSection .productInfo .row{
    margin-bottom: 10px !important;
}

.productDetailsSection .productInfo .row .subCat span{
    opacity: 0.8;
    font-size: 15px;
    padding-left: 20px;
}

.tags {
    margin-bottom: 0px !important;
}
.tags li span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b2b4d !important;
    border-radius: 5px;
    font-size: 13px !important;
    padding: 2px 8px !important
}

body.light .tags li span{
    background-color: #f0f0f0 !important;
    color: #000 !important;
    padding: 4px 10px !important
}
.tags li span:first-child{
    padding-left: 0px !important;
}

.ratingSection{
    width: 500px;
}
.ratingSection .ratingRow {
    width: 100%;
    margin-bottom: 15px !important;
}
.ratingSection .ratingRow .progress{
    height: 5px !important;
    background-color: #000 !important;
}
body.light .ratingSection .ratingRow .progress{
    background-color: #ccc !important;
}
.ratingSection .ratingRow .progress .progress-bar{
    background-color: #edb213 !important;
}
.ratingSection .ratingRow.stastitics{
    line-height: 10px;
}
.ratingSection .ratingRow.ratingDistribution{
    line-height: 10px;
}
.ratingSection .ratingRow.stastitics .name{
    color: #5e5d72;
    font-weight: bold;
    font-size: 15px;
}
.ratingSection .ratingRow.stastitics .value{
    /* color: #5e5d72; */
    opacity: 0.8;
    font-size: 15px;
    margin-left: 10px;

}

.ratingSection .ratingRow .col1{
    width: 15%; 
    flex: 0 0 15%;
    display: flex
}
.ratingSection .ratingRow .col2{
    width: 50%; 
    flex: 0 0 50%;
}
.ratingSection .ratingRow .col3{
    width: 25%; 
    flex: 0 0 25%;
    display: flex;
    padding-left: 20px
}

.reviewSection{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adminReviewsCard .imageBox{
    display: flex !important;
    margin-right: 10px;
}
.adminReviewsCard .rounded-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 60px;
    height: 60px;
    background-color: #3bb77e;
}
.adminReviewsCard .rounded-circle .initial{
    font-size: 20px;
    font-weight: 700;
    color: white;
    display: block;
    text-align: center;
}

.reviewSection .reviewRow{
    width: 100%;
    height: auto;
    background-color: #071731;
    padding: 35px;
    border-radius: 10px;
    margin: 15px 0px
}

body.light .reviewSection .reviewRow{
    background: #ededed !important
}

.userInfo h6{
    margin-bottom: 0px;
}

.reviewSection .reviewRow.response{
    width: 90%;
    margin-left: auto
}

.reviewSection .reviewRow .btn-big{
    font-size: 15px !important;
}
.reviewSection .reviewRow .btn-big svg{
    font-size: 18px !important;
}

.reviewForm {
    width: 100%
}
.reviewForm textarea{
    width: 100%;
    height: 200px;
    background-color: #132345 !important;
    outline: novajowhite !important;
    padding: 15px;
    border-radius:  10px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid #0d1a36 !important
}

body.light .reviewForm textarea{
    background: #f4f4f4 !important;
    color: rgba(0,0,0,0.8) !important;
    border: 1px solid #bdbdbd !important;
}

.reviewForm textarea::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.5)
}
body.light .reviewForm textarea::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.5) !important
}


/*****************************
Upload Style
*******************************/

.form .form-group{
    margin-bottom: 15px !important;
}
.form .form-group h6{
    margin-bottom: 10px;
    font-size: 13px;
}
.form .form-group input, .form-group textarea{
    background: #fafafa;
    width: 100%;
    outline: none !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 14px !important;
}

body.dark .form .form-group input, body.dark .form .form-group textarea{
    background-color: #1b2b4d !important;
    border: 1px solid #253557 !important;
    color: rgba(255, 255, 255, 0.8)
}
.form .form-group textarea{
    height: 120px;
    padding-top: 15px
}

.imgUploadBox{
    width: 100%;
    flex-wrap: nowrap;
    gap: 10px;
 }

 .uploadBox.currentBanner{
    width: 200px;
    overflow: hidden;
 }


.imgUploadBox .uploadBox{
    width: 130px;
    height: 140px;
    padding: 0px;
    border-radius: 10px !important;
    border: 2px dashed rgba(0, 0, 0, 0.3) !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center !important;
    cursor: pointer !important;  
    background-color: #fafafa;                                                                   ckground-color: #fafafa;
    transition: all 0.3s;
    margin: 10px 0px;
}

.imgUploadBox .uploadBox #fileInput{
    display: none;
}

.imgUploadBox .uploadBox .remove{
    position: absolute;
    top: 0;
    right: 3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px
}

.imgUploadBox .uploadBox .remove .icon{
    display: flex;;
    justify-content: center;;
    align-items: center;
    font-size: 18px;
    font-weight: 700 !important;
}
.imgUploadBox .uploadBox .info{
    cursor: pointer;
    opacity: 0.5;

}
.imgUploadBox .uploadBox .icon{
    font-size: 30px;
    width: 100%
}

.imgUploadBox .uploadBox .box{
    width: 100%;
    /* height: 150px !important; */
    overflow: hidden !important;
    border-radius: 7px;
    padding: 2px;

    
}

.imgUploadBox .uploadBox .img{
    width: 100%;
    height: 100%
    
    
}


    