:root {
    --primary-teal: #00a99d;
    --dark-teal: #00776e;
    --light-teal: #66e2d6;
    --golden-yellow: #f2a900;
    --soft-coral: #ff6f61;
    --charcoal: #2f2f2f;
    --light-gray: #f4f4f4;
    --white: #ffffff;
}

.orderDetailsList{
    font-size: 15px;
}

.orderDetailsList span{
    color: var(--dark-teal);
    font-weight: 600;
}