.loginSection .loginBox .headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
}
.loginSection .loginBox .headerContainer img{
    width: 80px
}