:root {
    --primary-teal: #00a99d;
    --dark-teal: #00776e;
    --light-teal: #66e2d6;
    --golden-yellow: #f2a900;
    --soft-coral: #ff6f61;
    --charcoal: #2f2f2f;
    --light-gray: #f4f4f4;
    --white: #ffffff;
}

.categories {
    margin-top: 30px
}

.categoryRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
}

.category{
    background-color: white;
    padding: 20px 20px
}

.categoryRow .category .heading{
    font-size: 17px;
    font-weight: 700;
    color: var(--charcoal)
}

.category .categoryItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-column-gap: 15px;
    grid-row-gap: 31px;


}
.category .categoryItems .catItem {
    width: 100%;
    height: 100px
    /* background: red; */
    /* padding: 30px */
}
.category .categoryItems img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.category .categoryItems p {
    font-size: 14px;
    text-align: center;
}
.categoryRow .category .categoryLink a{
    color: var(--primary-teal) !important;
    margin-top: 20px !important
}