:root {
    --primary-teal: #00a99d;
    --dark-teal: #00776e;
    --light-teal: #66e2d6;
    --golden-yellow: #f2a900;
    --soft-coral: #ff6f61;
    --charcoal: #2f2f2f;
    --light-gray: #f4f4f4;
    --white: #ffffff;
}

.product-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product-zoom .zoomImage {
    border-radius: 20px !important;

}

/* Slider Container */
.zoom-slider {
    width: 100%;
    max-width: 100%;

}

/* Individual Slider Items */
.slider-item {
    width: 100%;
    height: 80px; /* Prevent layout shift */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Active Slide Indicator */
.active-slide {
    border: 3px solid var(--primary-teal); /* Highlight the current slide */
    border-radius: 3px;
}

/* Slider Images */
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fill space */
    transition: transform 0.3s ease-in-out;
}

.slider-image:hover {
    transform: scale(1.05);
}

/* No Images Message */
.no-images {
    text-align: center;
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}
